.App {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 70px;
  margin: 10px;
  background-color: grey;
  align-items: center;
  align-content: center;
  font-weight: bold;
  font-size: x-large;
  border-radius: 10px;
}